@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@300&display=swap');

body{
    background-color: black;
    padding: 0 50px;
}

.container{
    background: linear-gradient(to right, rgb(75, 75, 226), rgb(179, 187, 179));
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 15px;
    padding: 25px ;

}

.registro{  
    padding: 5%;
    border: 3px solid rgb(208, 164, 164);
    height: 1fr;
    display: grid;
    grid-template-rows:1fr 30% 1fr ;
    grid-gap: 50px;
} 

.imagen{
    background: url(principal.jpg) no-repeat right top;
    border: 3px solid black;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column-reverse;
}

.imagen__texto{
    font-size: 50px;
    padding-bottom: 202px;
    padding-left: 60px;
    color: aqua;
    font-family: 'Gantari', sans-serif;
}

a{
    display: inline-block;
    font-size: 20px;
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 25px;
}

a:hover{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 25px;
    box-shadow:20px 20px 50px 20px rgb(30, 207, 30);
}


.titulo{ 
    color: #fff;
}

h1{
    border-bottom: 3px solid rgb(28, 19, 19) ;
}
h5{
    margin-left: 45px;
}

.cajaLogo{
    display: grid;
    grid-template-columns: 1fr 8fr;
}

#formulario-usuario, #formulario-contraseña, #formulario-ingresar {
    background-color: transparent;
    outline: none;
    border: none;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 25px;
    color: #fff;
}


#formulario-usuario::placeholder, #formulario-contraseña::placeholder,#formulario-ingresar::placeholder {
    outline: none;
    border: none;
    color: #fff;
}

#formulario-usuario:hover, #formulario-contraseña:hover, #formulario-ingresar:hover {
    color: black;
    background-color: rgb(45, 221, 227);
        outline: none;
        border: none;
    opacity: .9;
    box-shadow:20px 20px 50px 10px pink;
}


i{
    font-size: 25px;
}

#formulario-ingresar{
    width: 75%;
    margin: auto;
}

.formulario{
    //border: 3px solid rgb(28, 19, 19);
    display: flex;
    flex-direction: column;
    grid-gap: 25px 0;
    justify-content: space-around;
}



.regUsuario{
    background-color: transparent;
    margin: auto;
}

.regUsuario a{
    color: #fff;
    box-shadow:20px 20px 50px 10px rgb(206, 192, 255);
    background-color: transparent;
}

.regUsuario a:focus{
    color: white;
    box-shadow:20px 20px 50px 10px rgb(35, 182, 22);
    background-color: transparent;
}







/*
.container{
    width: 80%;
    height: 100vh;
    background-color: aqua;
    display: grid;
    grid-template-columns: 30% 1fr;
    border: 3px solid rgb(208, 164, 164);
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.registro{
    color: rgb(28, 52, 18);
}

.imagen{
    width: 63%;
    height: 100%;
    background-color: blue;
    object-fit: cover;
}

*/